*{
    margin: 0;
    padding: 0;
}
body{
    background-color: violet;
}
.bg{
   padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20%;
    width: 300px  ;
    height: 300px;
    
    background-color: white;
}
#count{
    margin-top: 40px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: #FF4F0F;
}
.bn{
    padding: 60px 60px;
     display: flex;
     justify-content: center;
     gap: 20px;
}
h2{
    padding-left: 50px;
    font-size: 35px;
    color: blue;
}
#na{
    background-color:#0D5EA6 ;
    padding: 10px;
    color: white;
}
#l{
    padding: 10px;
    background-color: #347433;
    color: white;
    font-size: 20px;
}
#cv{
    padding: 10px;
     background-color: #347433;
     color: white;
     font-size: 20px;
}
#l {
      opacity: 0;
      animation: l 2s forwards;
}
@keyframes l{
   to {
        opacity: 1;
      }
}

#cv {
      opacity: 0;
      animation: cv 2s forwards;
}
@keyframes cv{
   to {
        opacity: 1;
      }
}
h2 {
      opacity: -2;
      animation: h2 2s forwards;
}
@keyframes h2{
   to {
        opacity: 1;
      }
}