* {
	margin: 0;
	padding: 0;
}
body{
    font-size: 16px;
    background-color: #fed9b7;
}
header{
   display: flex;
   justify-content: center;
    
}
nav{
    width: 40% auto;
    
    padding: 10px 10px;
    background-color: #264653;
    border-radius: 20px;
    position: fixed;
    margin-top: 10px;
}
nav>ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-size: 24px;
}
a {
	text-decoration: none;
	font-size: 24px;
	color: white;

}
a:hover{
    color: #aacc00;
    transform: scale(1.5);
}
#mc{
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #001219;
}
.leftdiv{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
}
h1{
    font-size: 72px;
    color: #ffd60a;
}
.p{
    font-size: 40px;
    color: #b5e48c;
}
.p1{
    font-size: 30px;
}
.k{
    
    padding: 20px 20px;
    border-radius: 20px;
    margin: 30px;
    background-color: #fb6f92;

}
.rightdiv{
    border-radius: 50px 50px 0px 0px;
}
.rightdiv>img{
    width: 80%;
	height: 80%;
    margin-right: 50px;
	object-fit: cover;
    border-radius: 240px ;
}
#left{
    display: flex;
    width:100%;
    gap: 10px;

}
.Educatonal{
    display: flex;
    flex-direction: column;
    width: 80%;
	gap: 20px;
    
}
.graduation{

    width: 250%;
    margin: 20px;
    display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 20px;
    background-color: #264653;
    color: white;
}
.inter{
    width: 250%;
    display: flex;
	flex-direction: column;
    margin: 20px;
	padding: 10px;
	border-radius: 20px;
    background-color: #264653;
    color: white;
    
}

.ssc{
    width: 250%;
    display: flex;
    margin: 20px;
	flex-direction: column;
	padding: 10px;
	border-radius: 20px;
    background-color: #264653;
    color: white;
}
#right{
    border-radius: 50% 50% 0px 0px;
    gap: 40px;
    margin-right: 50px;
    
}

.skills{
    
    display: flex;
    flex-direction: column;
    width: max-content;
	height: 50%;
    margin-left: 30%;
     background-color: transparent;
     gap: 50px;
     border-radius: 20px;
     margin-top:25px;
}
#skills>img{
    height: 150px; 
     width: 150px; 
    border-radius: 40%;
    object-fit: cover;
    flex-wrap: wrap;
    
}
title{
    : #ffd60a;
}
.card1{
    height: 50%;
    width: 50%;
    border:2px solid black;
     border-radius: 50px 50px 0px 0px;
     background-color: black;
     margin-left: 20px;
     gap: 20px;

}
#project1{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	margin: 50px auto;
	max-width: 600px;
}

.project1 > h3 {
	font-size: 40px;
    color: white;
}
.project1 > p {

    font-size: 24px;
	color: white;
}
.project1 > button {
	background-color: #00f5d4 ;
	width: max-content;
	border-radius: 20px ;
	padding: 10px 20px;
}
.project1 > img {
	width: 80%;
	object-fit: cover;
}
.card2{
    height: 50%;
    width: 50%;
    border:2px solid black;
     border-radius: 20px ;
     margin-top: 20px;
     background-color: black;

}
.project2 {
    border-radius: 50px 50px 0px 0px;
	/* box-shadow: 5px 10px 15px gray; */
	padding: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.project2> h3 {
	font-size: 40px;
    color: white;
}
.project2 > p {

    font-size: 24px;
	color: white;
}
.project2 > button {
	background-color: #aacc00 ;
	width: max-content;
	border-radius: 20px ;
	padding: 10px 20px;
}

#contact {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 50px;
    background-color: #001219;
	margin-top: 30px ;
	max-width: 1280px;
    color: white;
}
.socialmedia{
    justify-content: space-between;
    font-size: 40px;
}
.fa-brands {
	font-size: 40px;
    color: white;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.fa-brands:hover {
	transform: scale(1.05);
	color: #00afb9;
     
}
.fa-solid:hover{
    transform: scale(1.05);
	color: #00afb9;
}

footer {
	text-align: center;
	background-color:;
	color: white;
	padding: 10px 0px;
    margin-top: 20px;
}
.b{
    display: flex;
    flex-direction: column;

}
#c{
    font-size: 40px;
}
.footer>h2{
    margin: 0px;
}
    